{% extends 'GCNAFNAFBundle::layout.html.twig' %}
{% block title %}Gestion Congés NAF{% endblock %}
{% block titre %}Utilisateur simple - {% if nom %}{{ nom }} {% endif %}{% if prenom %}{{ prenom }}{% endif %}{% endblock %}	
			{% block menu %}
				<div id="menu">
						<ul>
				<!-- Texte Menu de la page à modifier user index -->
							<li><a href="{{ path('GCNAFNAFBundle_user_simple_demandes', { 'id': id }) }}">Demandes Congés</a></li>
							<li><a href="{{ path('GCNAFNAFBundle_user_simple_solde')}}" >Liste des Soldes</a></li>
							<li><a href="{{ path('GCNAFNAFBundle_gestion_cra_user')}}" >Gestion CRA</a></li>		
							<li><a href="{{ path('GCNAFNAFBundle_goout')}}" class="menu2">Déconnecter</a></li>
				<!-- Fin Menu de la page à modifier  -->
						</ul>
					</div>																			
			{% endblock %}	
			{% block content %}			
<p id="msg"> =>Résultats de votre recherche: </p>		
				<form  method="post" {{ form_enctype(form) }} action="{{ path('GCNAFNAFBundle_user_simple_recherche') }}">
					{{ form_start(form) }} {{ form_errors(form) }}
				<div><pre id="label">Recherche par état congé: {{ form_widget(form.nomEtat) }} <input type="submit" value="Go" /></pre>					
					{{ form_errors(form.nomEtat) }}
				</div>
					{{ form_end(form) }}
				</form> 
<hr/><br/>			
{% if(total) %}
					<table border="1" width="760" id="tabcssuser">
					<tr>														
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Congé          </div></font></td>
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Date début     </div></font></td>
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Date fin       </div></font></td>
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Nombre de jours</div></font></td>	
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Date création  </div></font></td>
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Message        </div></font></td>							
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Validateur     </div></font></td>
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Date validation</div></font></td>	
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Etat           </div></font></td>
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Modifier       </div></font></td>
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Supprimer      </div></font></td>
							<td bgcolor="#CCFFFF"><font color="#CC0000"><div align="center" id="myip">Pdf			   </div></font></td>
					</tr>
{% for a in total %}						
					<tr>						
					<td id="myip"><div align="center">{{ a.nomCng|truncate(40, true, '...')}}</div></td>
					<td id="myip"><div align="center">{{ a.dateD|date("Y-m-d")}}             </div></td>				
					<td id="myip"><div align="center">{{ a.dateF|date("Y-m-d")}}			 </div></td>
					<td id="myip"><div align="center">{{ a.nbrJr}}							 </div></td>
					<td id="myip"><div align="center">{{ a.dateEnrg|date("Y-m-d") }}		 </div></td>
					<td id="myip"><div align="center">{{ a.msg|truncate(100, true, '...') }} </div></td>
					<td id="myip"><div align="center">{{ a.validateur }}					 </div></td> 
					<td id="myip"><div align="center">{{ a.dateVal|date("Y-m-d") }}			 </div></td>
					<td id="myip"><div align="center">{{ a.nomEtat }}						 </div></td> 						
					<td> <a href="{{ path('GCNAFNAFBundle_user_simple_modifier', { 'id': a.idDem }) }}">							
					<div align="center"> <img src="{{ asset('bundles/gcnafnaf/images/edit.png') }}" title="modifier seulement les demandes en attentes" width="10" height="10"> </div> 
					</a>
					</td>
					<td> <a href="{{ path('GCNAFNAFBundle_user_simple_supprimer', { 'id': a.idDem }) }}" onClick="return(confirm('Voulez-vous vraiment supprimer cette ligne?'));">
					<div align="center"><img src="{{ asset('bundles/gcnafnaf/images/sup.jpg') }}" title="supprimer seulement les demandes en attentes" width="10" height="10"></div>
					</a>
					</td>
					<td> <a href="{{ path('GCNAFNAFBundle_impression_demande_pdf', { 'id': a.idDem }) }}">							
<div align="center"><img src="{{ asset('bundles/gcnafnaf/images/iconpdf.jpg') }}" title="Imprimer le formulaire de demande conge" width="20" height="20"></div>
					 </a>
					</td>	
					</tr>				
{% endfor %}
					</table>
{% else %}<img src="{{ asset('bundles/gcnafnaf/images/info.jpg') }}" width="24" height="24"> Aucune demande n'a été trouvée dans cet état!<br/>
{% endif %}	<br/>	
<p>=> <a href="{{ path('GCNAFNAFBundle_user_simple_ajouter') }}">Ajouter une Demande</a><br/>
   => <a href="{{ path('GCNAFNAFBundle_user_simple_demandes', { 'id': id }) }}">Retour à la liste principale</a></p>		
	
	{% endblock %}