{% extends 'GCNAFNAFBundle::layout.html.twig' %}
{% block title %}Gestion Congés NAF{% endblock %}
{% block titre %}Espace Administrateur - L'Affectation des Salariés {% endblock %}	
	{% block menu %}									
					<div id="menu">
						<ul>				
							<li><a href="{{ path('GCNAFNAFBundle_demandes_conges')}}" >Demandes Congés</a></li>
							<li><a href="{{ path('GCNAFNAFBundle_compteur_solde')}}" >Gestion Compteurs</a></li>
							<li><a href="{{ path('GCNAFNAFBundle_salaries')}}" >Gestion Salariés</a></li>							
							<li><a href="{{ path('GCNAFNAFBundle_jours')}}" >Jours Fériés</a></li>
							<li><a href="{{ path('GCNAFNAFBundle_chef_equipe')}}" >Chef d'Equipe</a></li>										
						</ul>
					</div>					
		<div id="menu3">
			<ul><li><a href="{{ path('GCNAFNAFBundle_goout')}}"><img src="{{ asset('bundles/gcnafnaf/images/out.jpg') }}" width="108" height="33"></a></li></ul>
		</div>						
	{% endblock %}
	
	{% block content %}	
	<form  method="post" {{ form_enctype(form) }}>{{ form_start(form) }}{{ form_errors(form) }}
							<table border="0">
							<tr>							
								<td id="label">{{ form_label(form.idSalarie) }}</td>
								<td>							
									{{ form_errors(form.idSalarie) }}
									{{ form_widget(form.idSalarie) }}
								</td><td><pre>  </pre></td>	
								<td id="label">{{ form_label(form.idChef) }}</td>
								<td>							
									{{ form_errors(form.idChef) }}
									{{ form_widget(form.idChef) }}
								</td>	
							</tr>							
							<tr>
								<td id="label">{{ form_label(form.projet) }}</td>
								<td>
									{{ form_errors(form.projet) }}
									{{ form_widget(form.projet) }}
								</td><td><pre>  </pre></td>
								<td id="label">{{ form_label(form.dateD) }}</td>
								<td>
									{{ form_errors(form.dateD) }}
									{{ form_widget(form.dateD) }}
								</td>								
							</tr>
							</table>																			
<input type="submit" value="Ajouter"/>
	{{ form_end(form) }}					
	</form><br/><br/>
	
<p id="msg"> => Liste Salarié-Chef d'équipe:</p>
{% if entities %}

<form  method="post" {{ form_enctype(formSearch) }} action="{{ path('GCNAFNAFBundle_chef_equipe_searchs') }}">{{ form_start(formSearch) }}{{ form_errors(formSearch) }}
<div><pre id="label">{{ form_label(formSearch.idSalarie) }} {{ form_widget(formSearch.idSalarie) }}<input type="submit" value="Go" /></pre>					
{{ form_errors(formSearch.idSalarie) }}</div>{{ form_end(formSearch) }}</form><br/>			
					
			<table border="1" id="tabstl2">
					<tr>
							<td bgcolor="#FFCC99"><font color="#CC0000"><div align="center" id="myip">Salarié  </div></font></td>
							<td bgcolor="#FFCC99"><font color="#CC0000"><div align="center" id="myip">Chef d'équipe </div></font></td>	
							<td bgcolor="#FFCC99"><font color="#CC0000"><div align="center" id="myip">Date appartenance </div></font></td>
							<td bgcolor="#FFCC99"><font color="#CC0000"><div align="center" id="myip">Date Fin</div></font></td>
							<td bgcolor="#FFCC99"><font color="#CC0000"><div align="center" id="myip">Projet</div></font></td>							
							<td bgcolor="#FFCC99"><font color="#CC0000"><div align="center" id="myip">Supprimer</div></font></td>
					</tr>
					{% for entity in entities %}
						<tr>
							<td id="myip">{{ entity.nom}} {{ entity.prenom}}</td>
							<td id="myip">{{ entity.idChef}} </td>							
							<td id="myip">{{ entity.dateD|date("Y-m-d")}}</td>	
						{% if (entity.dateF)==NULL %}
							<td id="myip">NULL</td>	
						{% else %}
							<td id="myip">{{ entity.dateF|date("Y-m-d")}}</td>	
						{% endif %}
							<td id="myip">{{ entity.projet}}</td>							
							<td id="myip"><a href="{{ path('GCNAFNAFBundle_chef_equipe_supp', { 'id': entity.ref }) }}">
							<div align="center"><img src="{{ asset('bundles/gcnafnaf/images/sup.jpg') }}" title="Supprimer" width="12" height="12"></div>
							</a></td>
						</tr>				
					{% endfor %}
					</table>
{% else %}<img src="{{ asset('bundles/gcnafnaf/images/info.jpg') }}" width="24" height="24"> Aucun salarié n'a encore été affecté dans une équipe!<br/><br/>
{% endif %}	

{% endblock %}